# DOS ENV
WC/
images/
.DS_Store
*.COM
*.EXE
*.INI
VC.INI
*.TXT
*.IDB
*.SWP
*.SMP     
TMP.1
*.CGA
*.CGZ
*.CG*
*.jpg

all

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
